/* ===================================== */
/* RESET */
/* ===================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===================================== */
/* MAIN PAGE */
/* ===================================== */

/* Basic styles for the navbar */
nav {
  background-color: #333;
  overflow: hidden;
  color: white;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

/* Style for the navbar links */
navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add some style to the active link */
navbar a.active {
  background-color: #4CAF50;
  color: white;
}

main {
  height: 100svh;
  display: flex;
  justify-content: center;
}

.todolist {
  /* background-color: brown; */
  width: 80%;
  height: 80%;
  padding: 1em;
  position: relative;
}

.todolist .title {
  color: red;
  margin: 0.5em;
}

.task {
  background-color: beige;
  margin: 1em;
  /* padding: 1em; */
  border-radius: 10px;
  border: 1px solid gray;
}

.inactive{
  background-color: gray;
}

.time {
  padding: 0.8em;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  /* border-radius: 4px; */
}

.content input[type='checkbox'] {
  margin: 0 1em;
  /* font-size: 1rem; */
}

.content .btn-update {
  background-color: transparent;
  border: none;
  margin-right: 0.7em;
  color: green;
}


p {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

.div-delete {
  padding: 1em;
  display: flex;
  justify-content: end;
}

.div-delete button {
  background-color: transparent;
  border: none;
  color: brown;
}

#add-task {
  position: fixed;
  right: 4em;
  bottom: 4vh;
}

.round-button {
  display: inline-block;
  padding: 1.5em 1.8em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 50%; /* Makes the button round */
  background-color: #3498db; /* Set the background color */
  color: #ffffff; /* Set the text color */
  border: 2px solid #3498db; /* Set the border color */
  cursor: pointer;
}

.round-button:hover {
  background-color: #2980b9; /* Change background color on hover */
  border: 2px solid #2980b9; /* Change border color on hover */
}


/* ===================================== */
/* MODAL */
/* ===================================== */
#taskModal{
  background-color: beige;
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
  width: 80vw;
  max-height: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
}

#taskModal .header {
  display: flex;
  justify-content: space-between;
}

#taskModal .header .modalClose {
  background-color: transparent;
  border: none;
}

#taskModal .header i {
  color: red;
  font-size: 1.5rem;
}

.form{
  padding: 1em;
}
.input {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.info{
  padding: 0 1em 0 1em;
}
.info textarea{
  margin-top: 1em;
  width: 100%;
}
.submit{
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.submit button{
  background-color: green;
  padding: 1em;
  border-radius: 50px;
  font-size: 1.5em;
}


@media (max-width: 600px){
  #createtaskTodolist{
    max-height:80vw
  }
  .input{
    flex-direction: column;
  }

}