* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: aqua;
}

main {
  height: 100svh;
  display: flex;
  justify-content: center;
}

.todolist {
  /* background-color: brown; */
  width: 80%;
  height: 80%;
  padding: 1em;
  position: relative;
}
.task {
  background-color: beige;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}
.time {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
}

#content {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

p {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5em;
}

#delete {
  padding: 0.5em;
  display: flex;
  justify-content: end;
}

#add-task {
  position: fixed;
  right: 4em;
  bottom: 4vh;
  padding: 2em;
  border-radius: 25px;
}

/*MODALE*/
#createtaskTodolist{
  background-color: beige;
  padding: 1em;
  margin-top: 2em;
  border-radius: 10px;
  width: 80vw;
  max-height: 100%;
  visibility: hidden;
  position: absolute;
  z-index: 1000;
}
.createTask{
  padding: 1em;
}
.input {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.info{
  padding: 0 1em 0 1em;
}
.info textarea{
  margin-top: 1em;
  width: 100%;
}
.submit{
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.submit button{
  background-color: green;
  padding: 1em;
  border-radius: 50px;
  font-size: 1.5em;
}


@media (max-width: 600px){
  #createtaskTodolist{
    max-height:80vw
  }
  .input{
    flex-direction: column;
  }

}